
/* default */
body{
    font: 15px/1.5  Helvetica, Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
}

/* grid layout classes */
.header_logo {
    grid-area: header_logo;
}

.header_date_label {
    grid-area: header_date_label;
}

.header_date {
    grid-area: header_date;
}

.header_user_label {
    grid-area: header_user_label;
}

.header_user {
    grid-area: header_user;
}

.header_help_link {
    grid-area: header_help_link;
}

.header_login_label {
    grid-area: header_login_label;
}

.header_login_link {
    grid-area: header_login_link;
}

.header_login_name {
    grid-area: header_login_name;
}

.header {
    display: grid;
    grid-area: header;
    grid-gap: 0.2em;
    grid-template-areas:
      "header_logo"
      "header_date_label"
      "header_date"
      "header_user_label"
      "header_user"
      "header_login_label"
      "header_login_name"
      "header_help_link"
      "header_login_link"
}

.message {
    grid-area: message;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

/* grid layout default*/
.wrapper{
    display: grid;
    grid-gap: 0.2em;
    grid-template-areas:
      "header"
      "message"
      "content"
      "footer"
  }

/* media query
 * header for normal computer displays
 * smaller displays will get default .header layout - see above
*/
@media only screen and (min-width: 1500px)  {
    .header {
        grid-template-columns: 1fr 3fr 4fr 2fr 2fr;
        grid-template-areas:
          "header_logo   header_date_label  header_user_label  header_login_label  header_help_link"
          "header_logo   header_date        header_user        header_login_name   header_login_link"
    }
}

/* styles */
.navicon{
    height: 42px;
    width: 42px;
    padding: 0%;
    border: 0;
}

.userinput{
    font-size: 28px;
    margin: 0px;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.button_1{
    height: 40px;
    background: #e8491d;
    border: 0;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    vertical-align: top;
    font-size: 28px;
}

.header_login_name{
    color: #ffffff;
    font-size: 25px;
}

.message-error{
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    margin-bottom: 10px;
}

.message-info{
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    margin-bottom: 10px;
}

.message-success{
    padding: 10px;
    background: #35424a;
    color: #ffffff;
    margin-bottom: 10px;
}

.table-content{
    width: 250px;
    font-size: 20px;
}

th{
    background-color: #35424a;
    color: #ffffff;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 5px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #e8491d;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color: #cccccc;
}

input[type="date"]{
    padding: 5px;
    height: 28px;
    width: 240px;
    font-size: 28px;
    vertical-align: top;
}

form{
    display: inline-block;
}

footer{
    padding: 0px;
    margin-top:10px;
    color: #ffffff;
    background: #e8491d;
    text-align: center;
}


